@media (max-width: 575px) {
    header {
        height: 30px;
    }
    .header {
    &__official {
        display: none;
    }
    &__logo {
        img {
            width: 100%;
            margin-left: 10px;
        }
    }
    &__contacts {
        padding-right: 50px;
    }
    &__phone {
        display: block;
        margin-left: 10px;
        font-size: 14px;
    }
}
    .button {
        display: block;
        height: 20px;
        margin: 0 auto;
        margin-right: 10px;
        margin-top: 5px;
        font-size: 11px;
}
.promo {
    &__header {
        font-size: 20px;
        margin: 0 auto;
    }
    &__subheader {
        font-size: 16px;
        margin: 0 auto;
        margin-top: 2px;
    }
    &__icons {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 5px;
    }
    &__icon {
        display: block;
        width: 100%;
        margin-top: 20px;
    }
}
}
